.schedule {
  text-align: center;
  padding-bottom: 5em;

  ul li {
    padding: 5px;
  }

  .border {
    display: inline-block;
    border: 5px solid @grey;
    padding: 50px;

    &:hover {
      transition: all .3s;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
  }
}